  
  
  #purForm{
    padding: 65px 95px 75px 95px;
    text-align: center;
  }

  .BnrHeader {
    background-color: 'white';
    }

  .bnrContainer {
    overflow:hidden;
  }

  .bnrNav {
    overflow:hidden;
    }
  