  
  
  #purForm{
    
    text-align: center;
  }

  #purFormComplete{
    padding-top: 100px;
    text-align: center;
  }

  #bxUserInfo {
    padding: 25px 5px 5px 5px;
  }

  #bxUserLeft{
    min-width: 260px;
  }

  #bxloggedIn, #bxDashNone {
    min-height: 325px;
    padding-top: 175px;
  }

  #imgAcct, #imgInnerAcct {
    cursor: pointer; 
  }

  .BnrHeader {
    background-color: 'white';
    }

  .bnrContainer {
    overflow:hidden;
  }

  .bnrNav {
    overflow:hidden;
    }
  
  #purSignUp {
    min-width: 320px;
  }

  #bxWallet {
    min-height: 280px;
  }

  #bxFree, #bxPro, #bxPrem {
    min-height:180px;
  }

  #bxDash {
    min-height:10px;
    padding: 100px 95px 5px 95px;
  }

  #selChain {
    width: 15ch;
  }