  
  
  #purForm{
    
    text-align: center;
  }

  #purFormComplete{
    padding-top: 100px;
    text-align: center;
  }

  #bxUserLeft{
    min-width: 260px;
  }

  #bxloggedIn, #bxDashNone {
    min-height: 325px;
    padding-top: 175px;
  }

  #imgAcct, #imgInnerAcct {
    cursor: pointer; 
  }

  #itemPos, #itemNeg {
    min-width: 320px
  
  }

  #resultArea {
    min-height: 450px;

  }

  .promoApply {
    width: 18ch;
    border: 1px solid #e6e6e6;
  }

  input.promoApply {
    padding-left: 15px;
  }

  .bxPrice {
    /* Mobile by default as Roy pointed out */
    display: flex;
    flex-direction: column;

  }

  #bxFree {
    min-width: 250px;

  }

  #bxPro {
    min-width: 250px;
  }

  #bxPrem {
    min-width: 250px;
  }  

  .BnrHeader {
    background-color: 'white';
    }

  .bnrContainer {
    overflow:hidden;
  }

  .bnrNav {
    overflow:hidden;
    }
  
  #purSignUp {
    min-width: 320px;
  }

  #bxWallet {
    min-height: 280px;
  }

  #bxFree, #bxPro, #bxPrem {
    min-height:180px;
  }



  #selChain {
    width: 15ch;
  }

    /* media dashboard */
    @media screen and (max-width: 321px) {

      #bxUserInfo,  #bxAdminInfo, #bxCaretInfo {
        padding: 5px 5px 5px 5px;
        min-width: 500px;
      }

      #bxDash {
        min-height:10px;
        padding: 95px 10px 10px 10px;
      }

    }
  
    @media screen and (min-width: 321px)
    and (max-width: 770px) {

      #bxUserInfo,  #bxAdminInfo, #bxCaretInfo {
        padding: 5px 5px 5px 5px;
        min-width: 560px;
      }

      #bxDash {
        min-height:10px;
        padding: 95px 10px 10px 10px;
      }

    }
  
    @media screen and (min-width: 771px) 
    and (max-width: 1023px) {

      #bxUserInfo,  #bxAdminInfo, #bxCaretInfo {
        padding: 5px 5px 5px 5px;
        min-width: 560px;
      }
       
      /* For desktops */
      .bxPrice {
        flex-direction: row;
  
      }

      #bxDash {
        min-height:10px;
        padding: 100px 95px 5px 95px;
      }


    }
  
    @media screen and (min-width: 1024px)  {
  
      #bxUserInfo,  #bxAdminInfo, #bxCaretInfo {
        padding: 5px 5px 5px 5px;
        min-width: 560px;
      }

      #bxDash {
        min-height:10px;
        padding: 100px 95px 5px 95px;
      }


    }